{%extends "mainapp/base.html"%}
{%load static%}
{%block content%}
    <div class="d-none">
        <div class="bg-primary border-bottom p-3 d-flex align-items-center mb-4">
            <a class="toggle togglew toggle-2" href="#"><span></span></a>
            <h4 class="font-weight-bold m-0 text-white">Forbidden Page</h4>
        </div>
    </div>
    <div class="container py-5 edmund-coming-soon d-flex justify-content-center align-items-center">
        <div class="edmund-img text-center">
            
            <h1>403</h1>
            <h2>Forbidden</h2>
                <p>Sorry, but the page you were trying to view is restricted to certain users.</p>
            <a href="{%url 'home'%}" class="btn btn-primary">Go Home</a>

        </div>
    </div>
    
 {%endblock%}

